<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
</head>
<body>
    <header>
    <nav>
       <label class="logo">Portfolio</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About </a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    </header>
    <footer>
        <h1 style="font-size: x-large;">best of luck....</h1>
    </footer>
</body>
</html>